## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [37]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [31]:
len(string_01)

266

In [33]:
spaces = string_01.count(' ')

In [35]:
spaces

43

In [39]:
len(string_01) - spaces

223

2. Посчитайте, сколько в строке слов.

In [40]:
string_to_list = string_01.split(' ')

In [41]:
string_to_list

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners.',
 'hen',
 'two',
 'cultures',
 'clash,',
 'the',
 'loser',
 'is',
 'obliterated,',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books-books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe.',
 'As',
 'Napoleon',
 'once',
 'said,',
 "'What",
 'is',
 'history,',
 'but',
 'a',
 'fable',
 'agreed',
 'upon?']

In [42]:
len(string_to_list)

44

In [43]:
import re

In [44]:
list_02 = re.findall(r'\w+', string_01)

In [45]:
list_02

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners',
 'hen',
 'two',
 'cultures',
 'clash',
 'the',
 'loser',
 'is',
 'obliterated',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books',
 'books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe',
 'As',
 'Napoleon',
 'once',
 'said',
 'What',
 'is',
 'history',
 'but',
 'a',
 'fable',
 'agreed',
 'upon']

In [46]:
len(list_02)

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [49]:
def find_words_start_with(letter):
    for word in list_02:
        if word.startswith(letter.upper()) or word.startswith(letter.lower()):
            print(word)

In [51]:
find_words_start_with('W')

written
winners
winner
writes
which
What

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [52]:
import random

In [65]:
number = ''
while '3' not in number:
    number = ''.join([str(random.randint(0, 9)) for i in range(6)])
print(number)

332746

In [58]:
list_03

['7', '1', '7', '3', '4', '1']

In [59]:
string_02 = ''.join(list_03)

#### Задача 3

Дан список:

In [66]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [67]:
list_03 = [x for x in list_01 if 10 < x < 100 or 200 < x < 500]

In [73]:
list_03

[13, 21, 34, 55, 89, 233, 377, 14, 46, 273, 22, 99, 15]

In [74]:
sum(list_03)

1291

In [71]:
list_04 = list()
for x in list_01:
    if 10 < x < 100 or 200 < x < 500:
        list_04.append(x)

In [75]:
list_04

[13, 21, 34, 55, 89, 233, 377, 14, 46, 273, 22, 99, 15]

In [76]:
sum(list_04)

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [78]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [79]:
students_dict = dict()
for student in students:
    students_dict[student[0]] = student[1:]

In [80]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [81]:
def change_group(student_number, new_group):
    students_dict[student_number][4] = new_group

In [82]:
change_group('0607', 'XXXXXX')

In [83]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'XXXXXX']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [84]:
def print_students(group):
    for student in students_dict.values():
        if student[4] == group:
            print(student[0], student[1], student[2])

In [85]:
print_students('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [1]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [5]:
list_05 = list()
for line in matrix:
    list_05.append(sum(line))

In [ ]:
sum(list_05)

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [94]:
list_10 = list()
for i in range(len(matrix[0])):
    list_06 = list()
    for line in matrix:
        list_06.append(line[i])
    list_10.append(sum(list_06))

In [96]:
max(list_10)

22

In [97]:
#Решение из чата:

In [98]:
list_11 = [sum(col) for col in zip(*matrix)]

In [100]:
max(list_11)

22