In [19]:
word = input ('Введите слово латинскими буквами: ')
if len (word) % 2 == 0:
        print (word [(len(word)//2 -1):(len(word)//2 +1)])
else:
      print (word [len(word)//2])

Введите слово латинскими буквамиtesting
t

In [45]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) != len(girls):
    print ("Кто-то может остаться без пары")
else:
    b = sorted(boys)
    g = sorted(girls)
    meeting = list ((zip (b, g)))
    print ("Идеальные пары:")
for couple in meeting:
    print ( couple [0], "и",couple [1] )

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [86]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [94]:
for c in countries_temperature:
    print (c [0], (sum (c [1]) /7 -32))

Thailand 42.942857142857136
Germany 24.685714285714276
Russia 6.68571428571429
Poland 21.34285714285714

In [140]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
user_list = []
new = []
views = 0

for new in stream:
    new = new.split (',')
    views += int (new [2])
    if user[1] not in user_list:
        user_list.append(user[1])
        print ("Среднее значение просмотров на пользователя =", views / len(user_list))

Среднее значение просмотров на пользователя = 3.0

In [122]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [134]:
date = input ('Введите дату')
company = input ('Введите название компании')

for number in stats:
    number = stats [2]
    if date == stats [0] and company == stats[1]:
        print (number)

Введите дату2018-01-03
Введите название компанииyandex

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [ ]:
i=0
summa = 0
for i, number in enumerate (data):
    summa += number[i]
    print (summa)