# Простые типы данных

In [5]:
my_integer = 10
type(my_integer)

int

In [6]:
my_float = 5.5
type(my_float)

float

In [8]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

str

In [10]:
my_bool = True
my_bool = False
type(my_bool)

bool

In [11]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [12]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: can only concatenate str (not "int") to str

In [13]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [14]:
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [16]:
# неявное преобразование типов
print(1 + False)
# print(20 / 5.1)

2

## Строки

In [17]:
my_string.upper()

'HELLO WORLD!'

In [18]:
my_string.lower()

'hello world!'

In [19]:
my_string.capitalize()

'Hello world!'

In [20]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [21]:
len(my_string)

12

## Индексация и срезы

In [23]:
my_string = 'Hello World'

In [24]:
my_string[2]

'l'

In [25]:
my_string[-4]

'o'

In [26]:
my_string[0:5]

'Hello'

In [27]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [28]:
my_string[6:]

'World'

In [29]:
my_string[:5]

'Hello'

In [31]:
my_string[::-1]

'dlroW olleH'

## Упражнение
Выделите номер часа из даты следующего формата

In [32]:
date = '2019-08-27T23:59:00.932'

In [33]:
date[11:13]

'23'

In [34]:
date[11:13]

'23'

In [35]:
date[11:16]

'23:59'

In [36]:
date[11:13]

'23'

In [37]:
date[11:13]

'23'

## Проверка на вхождение элемента в объект

In [42]:
my_string = 'Hello World'
target_string = 'World'
if target_string not in my_string:
    print('find!')

In [43]:
target_string in my_string

True

## f-строки

In [51]:
name = 'oleg'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print('Hello, ', name.capitalize(), ', i know ', lang, ' a bit', sep='')
# print(t)
# print(type(t))

Hello, Oleg, i know python a bit

# Списки

In [53]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [54]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [55]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [56]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [63]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][0][1]

'a'

In [64]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [114]:
my_string[0] = 'f'

TypeError: 'str' object does not support item assignment

In [65]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [66]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [68]:
my_list = ['первый', 'второй', 'третий']
first, second, third = ['первый', 'второй', 'третий']

'второй'

In [72]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий', 'dsgsdg', 'sdgsdg']
print(first)
print(_)

первый
['второй', 'третий', 'dsgsdg', 'sdgsdg']

In [73]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [74]:
first, last

('первый', 'четвертый')

## Операции со списками

In [75]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [76]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [78]:
# удаляем элемент по значению
print(month_list)
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [79]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [80]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [83]:
# считаем количество вхождений элемента в список
income_list.count(4364376347)

0

In [85]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000, 3)

6

In [86]:
# разворачиваем список
month_list.reverse()

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [87]:
# узнаем длину списка
len(income_list)

10

In [88]:
# сумма элементов
sum(income_list)

1239611

In [89]:
# максимальный элемент элементов
max(income_list)

1111111

In [90]:
# минимальный элемент элементов
min(income_list)

13000

In [95]:
# сортировка по возрастанию
my_list = ['444', '445', 32536, 436346]

sorted(my_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [92]:
# изменить порядок сортировки
sorted(income_list, reverse=True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [93]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [96]:
a = [1, 2, 3]
b = a

In [97]:
b.append(4)
f'a = {a}'

'a = [1, 2, 3, 4]'

In [98]:
id(a), id(b)

(2507973177864, 2507973177864)

Используем модуль copy

In [99]:
import copy

In [100]:
a = [1, 2, 3]
b = copy.copy(a)

In [101]:
id(a), id(b)

(2507972968008, 2507973101384)

In [102]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

In [104]:
a = [1, 2, 3]
b = list(a)
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(2507972193672, 2507973025032)

## Списки и строки

In [105]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [107]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт']

In [108]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [111]:
# проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
# 'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

True

# Tuple (кортежы)

In [116]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
type(list(salary_tuple))

list

In [118]:
print(salary_tuple[0])
salary_tuple[0] = 500

1000

TypeError: 'tuple' object does not support item assignment

In [119]:
# кортеж из одного элемента задается так:
t = ('one', )

In [120]:
# без запятой получится строка
type( ('one') )

str

In [122]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

[('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800)]

# Циклы

## Цикл while

In [125]:
x = 5
while x != 0:
    x -= 1
    print(x)

4
3
2
1
0

In [127]:
x = 100
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x -= 1

100 - четное число
99 - нечетное число
98 - четное число
97 - нечетное число
96 - четное число
95 - нечетное число
94 - четное число
93 - нечетное число
92 - четное число
91 - нечетное число
90 - четное число
89 - нечетное число
88 - четное число
87 - нечетное число
86 - четное число
85 - нечетное число
84 - четное число
83 - нечетное число
82 - четное число
81 - нечетное число
80 - четное число
79 - нечетное число
78 - четное число
77 - нечетное число
76 - четное число
75 - нечетное число
74 - четное число
73 - нечетное число
72 - четное число
71 - нечетное число
70 - четное число
69 - нечетное число
68 - четное число
67 - нечетное число
66 - четное число
65 - нечетное число
64 - четное число
63 - нечетное число
62 - четное число
61 - нечетное число
60 - четное число
59 - нечетное число
58 - четное число
57 - нечетное число
56 - четное число
55 - нечетное число
54 - четное число
53 - нечетное число
52 - четное число
51 - нечетное число
50 - четное число
49 - нечетное число
48 - четное число
47 - нечетное число
46 - четное число
45 - нечетное число
44 - четное число
43 - нечетное число
42 - четное число
41 - нечетное число
40 - четное число
39 - нечетное число
38 - четное число
37 - нечетное число
36 - четное число
35 - нечетное число
34 - четное число
33 - нечетное число
32 - четное число
31 - нечетное число
30 - четное число
29 - нечетное число
28 - четное число
27 - нечетное число
26 - четное число
25 - нечетное число
24 - четное число
23 - нечетное число
22 - четное число
21 - нечетное число
20 - четное число
19 - нечетное число
18 - четное число
17 - нечетное число
16 - четное число
15 - нечетное число
14 - четное число
13 - нечетное число
12 - четное число
11 - нечетное число
10 - четное число
9 - нечетное число
8 - четное число
7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

## Цикл for

In [130]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    print(letter)
#     letter = letter.capitalize()
#     print(letter)

O
r
a
n
g
e

In [133]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])
# #     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

### Функции range и enumerate

In [134]:
range(10)
type(range(10))

range

In [139]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [140]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [141]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [142]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

In [144]:
# enumerate позволяет получить индекс каждого элемента
enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [148]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]

print(list(enumerate(companies_capitalization)))
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

[(0, ['Orange', 1.3]), (1, ['Maxisoft', 1.5]), (2, ['Headbook', 0.8]), (3, ['Nicola', 2.2])]
1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## break, pass, continue

In [149]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [150]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [154]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end='')
print('finish loop')

640Кбдолжнохватитьдлялюбыхзадач.БиллГейтс(полегенде)finish loop

In [156]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter, end='')
print('finish loop')

640Кб должно хватить для любых задач. Билл Гейтс (по легенде)finish loop

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [158]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [159]:
person = 5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

In [160]:
print(cook_book[0][0].capitalize() + ':')
print(cook_book[0][1][0][0] + ',' + str(cook_book[0][1][0][1]*person)+ cook_book[0][1][0][2])

Салат:
картофель,500гр.

In [ ]:
person = 5
companies_capitalization = [
    ['картофель', 100, 'гр.'],
    ['морковь', 50, 'гр.'],
    ['огурцы', 50, 'гр.'],
    ['горошек', 30, 'гр.'],
    ['майонез', 70, 'мл.']
]
for company in companies_capitalization:
#     print(company)
    print(company[0], company[1] * person)

In [169]:
for dish in cook_book:
    print(f'{dish[0].capitalize()}:')
    for ingridient in dish[1]:
        print(f'{ingridient[0]} {ingridient[1]*person} {ingridient[2]}')
    print()

Салат:
картофель 500 гр.
морковь 250 гр.
огурцы 250 гр.
горошек 150 гр.
майонез 350 мл.

Пицца:
сыр 250 гр.
томаты 250 гр.
тесто 500 гр.
бекон 150 гр.
колбаса 150 гр.
грибы 100 гр.

Фруктовый десерт:
хурма 300 гр.
киви 300 гр.
творог 300 гр.
сахар 50 гр.
мед 250 мл.

## List comprehension

In [1]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [2]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [3]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [6]:
my_list = [num for num in sequence if num % 5 == 0]
my_list

[0, 15, 30]

In [5]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [7]:
# с list comprehension получается покороче
[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [8]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [9]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [10]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [11]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [19]:
min([x for x in sys_stdin if x % 2 == 0])

16

In [20]:
min([x for x in sys_stdin if x % 2 == 0])

[78, 68, 484, 254, 90, 78, 42, 16, 1454, 96]

In [21]:
min([num for num in sys_stdin if num%2 == 0])

[16]

In [23]:
min([x for x in sys_stdin if x % 2 == 0])

16

In [16]:
even_n = [even_n for even_n in sys_stdin if even_n % 2 == 0]

In [17]:
min([price for price in sys_stdin if price % 2 == 0])

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [25]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [28]:
data_engineer_skills[0]

TypeError: 'set' object is not subscriptable

In [26]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'SAS', 'Tableau', 'Git', 'SQL', 'R', 'Java', 'Hadoop', 'Python', 'Scala'}
{'SAS', 'Tableau', 'Git', 'SQL', 'R', 'Java', 'Hadoop', 'Python', 'Scala'}

In [27]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Git', 'Python', 'SQL'}
{'Git', 'Python', 'SQL'}

In [30]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Java', 'Hadoop', 'Scala'}
{'Java', 'Hadoop', 'Scala'}

In [33]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills)
# print(data_engineer_skills.symmetric_difference(data_scientist_skills))
# print(data_engineer_skills ^ data_scientist_skills)

{'SAS', 'R', 'Tableau', 'Hadoop', 'Java', 'Scala'}
{'SAS', 'R', 'Tableau', 'Hadoop', 'Java', 'Scala'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [34]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [36]:
# обращение к элементу словаря
salaries['Steven']

1000

In [37]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [38]:
# добавляем элемент в словарь
salaries['James'] = 2000
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'James': 2000}

In [39]:
# изменяем значение по ключу
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [42]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# salaries.get('Oleg', 'Not Found')
salaries.get('Mary', 'Not Found')

2000

In [44]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [46]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 2000,
 'Steven': 1000,
 'James': 2000,
 'Amanda': 2200,
 'Paul': 3000}

In [50]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [49]:
staff_dict['Robert']

200

In [51]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [55]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
print(staff_dict.items())

# print(list(staff_dict.keys()))
# print(list(staff_dict.values()))
print(list(staff_dict.items()))

dict_items([('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})])
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [57]:
# итерация по словарям
# так бы было без цикла
print("Robert's bonus:", staff_dict['Robert']['bonus'])
print("Jane's bonus:", staff_dict['Jane']['bonus'])
print("Richard's bonus:", staff_dict['Richard']['bonus'])

Robert's bonus: 200
Jane's bonus: 300
Richard's bonus: 1200

In [60]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [61]:
for person in staff_dict.keys():
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [62]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [63]:
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [64]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [68]:
# используем цикл
for a, b in staff_dict.items():
    print(a, b)
    print(a, "'s bonus: ", b['bonus'], sep='')

Robert {'salary': 800, 'bonus': 200}
Robert's bonus: 200
Jane {'salary': 200, 'bonus': 300}
Jane's bonus: 300
Liza {'salary': 1300, 'bonus': 200}
Liza's bonus: 200
Richard {'salary': 500, 'bonus': 1200}
Richard's bonus: 1200
Oleg {'salary': 1000000, 'bonus': 300}
Oleg's bonus: 300

In [72]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
    print(f"{person}'s salary: {info['salary']} ({info['status']})")

staff_dict

Robert's salary: 800 (below average)
Jane's salary: 200 (below average)
Liza's salary: 1300 (above average)
Richard's salary: 500 (below average)
Oleg's salary: 1000000 (above average)

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [82]:
# print('Еда', 'Авто', 'Политика', end='||||')
# print('Еда', 'Авто', 'Политика')

Еда Авто Политика||||Еда Авто Политика

In [86]:
# функция zip
categories = ['Еда', 'Авто', 'Политика']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Dict comprehension
Похоже на  list comprehension

In [87]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [88]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [89]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [90]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [91]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [92]:
{name: f'ROI: {info["revenue"] / info["cost"] - 1:.2f}' for (name, info) in results.items()}

{'vk': 'ROI: 0.05',
 'yandex': 'ROI: 0.17',
 'facebook': 'ROI: -0.06',
 'adwords': 'ROI: 0.03',
 'twitter': 'ROI: -0.54'}

In [93]:
for x, site in results.items():
    print(x,'ROIs=', round(site['revenue']/site['cost']-1,2))

vk ROIs= 0.05
yandex ROIs= 0.17
facebook ROIs= -0.06
adwords ROIs= 0.03
twitter ROIs= -0.54

In [99]:
from pprint import pprint

for value in results.values():
    value['ROI'] = round((value['revenue'] / value['cost'] - 1 ) * 100)
pprint(results)

{'adwords': {'ROI': 3, 'cost': 34, 'revenue': 35},
 'facebook': {'ROI': -6, 'cost': 110, 'revenue': 103},
 'twitter': {'ROI': -54, 'cost': 24, 'revenue': 11},
 'vk': {'ROI': 5, 'cost': 98, 'revenue': 103},
 'yandex': {'ROI': 17, 'cost': 153, 'revenue': 179}}

In [100]:
for info in results.values():
        info['ROI'] = (info['revenue'] / info['cost'] -1 )
        
print(results)

{'vk': {'revenue': 103, 'cost': 98, 'ROI': 0.05102040816326525}, 'yandex': {'revenue': 179, 'cost': 153, 'ROI': 0.16993464052287588}, 'facebook': {'revenue': 103, 'cost': 110, 'ROI': -0.0636363636363636}, 'adwords': {'revenue': 35, 'cost': 34, 'ROI': 0.02941176470588225}, 'twitter': {'revenue': 11, 'cost': 24, 'ROI': -0.5416666666666667}}

In [104]:
for social, value in results.items():
    value['ROI'] = (value['revenue'] / value['cost'] - 1) * 100 
results

{'vk': {'revenue': 103, 'cost': 98, 'ROI': 5.102040816326525},
 'yandex': {'revenue': 179, 'cost': 153, 'ROI': 16.99346405228759},
 'facebook': {'revenue': 103, 'cost': 110, 'ROI': -6.36363636363636},
 'adwords': {'revenue': 35, 'cost': 34, 'ROI': 2.941176470588225},
 'twitter': {'revenue': 11, 'cost': 24, 'ROI': -54.16666666666667}}

In [113]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [114]:
person = 3

In [141]:
shop_list = {}

for ingridients in cook_book.values():
    for ingr in ingridients:
#         print(ingr)
#         print(ingr['ingridient_name'])

        if ingr['ingridient_name'] not in shop_list:  
            shop_list[ingr['ingridient_name']] = {'quantity': ingr['quantity'] * person, 'measure': ingr['measure']}
#         ingr['quantity'] * person
        else:
            shop_list[ingr['ingridient_name']]['quantity'] += ingr['quantity'] * person
        
pprint(shop_list)

150
60
{'бекон': {'measure': 'гр', 'quantity': 90},
 'вода': {'measure': 'мл', 'quantity': 600},
 'колбаса': {'measure': 'гр', 'quantity': 90},
 'лайм': {'measure': 'гр', 'quantity': 60},
 'лимон': {'measure': 'шт', 'quantity': 3},
 'маслины': {'measure': 'гр', 'quantity': 30},
 'огурцы': {'measure': 'гр', 'quantity': 60},
 'оливки': {'measure': 'гр', 'quantity': 30},
 'оливковое масло': {'measure': 'мл', 'quantity': 60},
 'перец': {'measure': 'гр', 'quantity': 60},
 'салат': {'measure': 'гр', 'quantity': 30},
 'сахар': {'measure': 'гр', 'quantity': 30},
 'сыр': {'measure': 'гр', 'quantity': 210},
 'тесто': {'measure': 'гр', 'quantity': 300},
 'томаты': {'measure': 'гр', 'quantity': 120}}